html,
body {
  background-color: #f5f5f5;
  min-height: 100%;
  margin: 0;
  font-family: "Lato",sans-serif;
}
.hd {
  height: 80px;
  line-height: 80px;
  box-shadow: 0 3px 10px #999;
  background: #fff;
}
.bd {
  margin: 24px 0;
}
.ft {}

h1 {
  margin: 0;
  font-size: 1.6em;
  font-family: "Playfair Display", serif;
}
h2 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

/*= card */
.card {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border: 1px solid #f0f0f0;
  padding: 10px;
  box-sizing: border-box;
  float: left;
  width: 300px;
  height: 300px;
  position: relative;
  opacity: 1;
  cursor: pointer;
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
}
.card:hover:before {
  opacity: 0.6;
}
.price {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
  background-color: rgba(0,0,0,0.6);
}

.action {
  position: relative;
  width: 100px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #fff;
  margin: auto;
  text-align: center;
  color: #fff;
  top: 50%;
  margin-top: -24px;
  display: none;
}
.card:hover .action {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  position: absolute;
  height: 100%;
  background: #fff;
  padding: 24px;
  box-sizing: border-box;
}

input {
  padding: 10px 6px;
  width: 640px;
}
.btn {
  padding: 10px 16px;
  background: #70d6d6;
  border: none;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
}

.container {
  margin: auto;
  width: 960px;
}

.close {
  float: right;
  padding: 10px 16px;
  font-size: 1.6em;
  background:#fff;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
.loader {
  text-align: center;
  font-size: 3em;
  margin: 10% 0;
}